.category-list-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

}

.list-item{
  padding: 20px;
  margin: 5px;
  background-color: #fff8f8;
  border-radius: 10px;
  box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.199);
}
.d-flex h3{
  font-size: 20px;
  margin-bottom: 0;
}
.d-flex button{
  border: none;
  background-color: transparent;
}
.d-flex button i{
  color: #a7a7a7;
}
.d-flex button:hover i{
 
 color: #171630
}